<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div [hidden]="!erreur" class="alert alert-danger mb-4">
        User doas not exist
      </div>
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form-signin">
            <div class="form-label-group">
              <input 
              type="text" 
              [(ngModel)]="user.Username" 
              [ngClass]="{'is-invalid':userName.errors && userName.touched}"
              class="form-control" 
              name="Username"
              #userName="ngModel"
              required
              minlength="3" />
              <label for="inputEmail">User Name</label>
              <div [hidden]="!userName.errors?.required" class="invalid-feedback">
                User Name required
              </div>
        
              <div [hidden]="!userName.errors?.minlength" class="invalid-feedback">
                  Must be at least 3 characters
              </div>
            </div>

            <div class="form-label-group">
              <input 
              type="password" 
              [(ngModel)]="user.Password" 
              [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
              class="form-control" 
              name="Password"
              #userPassword="ngModel"
              required
              minlength="5" />
              <label for="inputPassword">Password</label>
              <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">
                Password required
              </div>
        
              <div [hidden]="!userPassword.errors?.minlength" class="invalid-feedback">
                  Must be at least 5 characters
              </div>
            </div>
            <button [disabled]="!userForm.form.valid" class="btn btn-primary btn-lg btn-block text-uppercase">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>